<% if @date.month == Date.today.month && @date.year == Date.today.year %>
  <!--div class="mb-4 p-4 pb-1 bg-white border border-gray-500 shadow-xl rounded-lg"-->
  <div class="relative isolate overflow-hidden bg-emerald-700 mb-4 px-4 pt-4 py-2 text-white shadow-lg rounded-lg">
    <h2 class="font-medium text-lg text-emerald-100">👋 Aujourd'hui aux 4 Sources</h2>

    <div class="flex items-center -space-x-6">
      <% watchmen = HumanRole.where(date: Date.today, role_id: 1) %>
      <% if watchmen.any? %>
        <span class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-sm font-medium text-purple-700 ring-1 ring-inset ring-gray-500/10">Veilleur·se·s<span class="w-5"></span></span>
        <div id="watchmen-today" class="text-xs isolate flex -space-x-2 px-1 overflow-hidden">
          <%= render partial: "human_roles/day", locals: { human_roles: watchmen } %>
        </div>
      <% end %>

      <% feeders = HumanRole.where(date: Date.today, role_id: 2) %>
      <% if feeders.any? %>
        <div class="w-14"></div>
        <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-sm font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">Nourrissage<span class="w-5"></span></span>
        <div id="feeders-today" class="text-xs isolate flex -space-x-2 px-1 overflow-hidden">
          <%= render partial: "human_roles/day", locals: { human_roles: feeders } %>
        </div>
      <% end %>
    </div>

    <% notes = Note.where(date: Date.today).order(id: :desc) %>
    <% if notes.any? %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mb-4 gap-4 text-gray-900">
        <%= render Note.where(date: Date.today).order(id: :desc) %>
      </div>
    <% end %>

    <div class="flex mb-4 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% if !@grouped_reservations[Date.today].nil? %>
        <% @grouped_reservations[Date.today].sort_by {|r| r.start_time }.group_by { |r| r.booking.id }.each do |grouped_reservations| %>
          <% reservation = grouped_reservations.last.first %>
          <% booking = BookingDecorator.new(reservation.booking) %>
          <div class="place-self-stretch text-sm font-light text-gray-500 bg-white border border-gray-200 rounded-lg shadow-xl">
            <%= render "bookings/popover", booking: booking %>
          </div>
        <% end %>
      <% end %>

      <% if !@grouped_space_reservations[Date.today].nil? %>
        <% @grouped_space_reservations[Date.today].sort_by {|r| r.start_time }.group_by { |r| r.space_booking.id }.each do |grouped_space_reservations| %>
          <% space_reservation = grouped_space_reservations.last.first %>
          <% space_booking = SpaceBookingDecorator.new(space_reservation.space_booking) %>
          <div class="place-self-stretch text-sm font-light text-gray-500 bg-white border border-gray-200 rounded-lg shadow-xl">
            <%= render "space_bookings/popover", space_booking: space_booking %>
          </div>
        <% end %>
      <% end %>

      <% if !@grouped_stay_reservations[Date.today].nil? %>
        <% @grouped_stay_reservations[Date.today].sort_by {|r| r.start_time }.group_by { |r| r.stay.id }.each do |grouped_reservations| %>
          <% reservation = grouped_reservations.last.first %>
          <% stay = StayDecorator.new(reservation.stay) %>
          <div class="place-self-stretch text-sm font-light text-gray-500 bg-white border border-gray-200 rounded-lg shadow-xl">
            <%= render "stays/popover", stay: stay %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="absolute -top-24 right-0 -z-10 transform-gpu blur-3xl" aria-hidden="true">
      <div class="aspect-[1404/767] w-[87.75rem] bg-gradient-to-br from-emerald-200 to-cyan-400 opacity-25" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
    </div>
  </div>
<% end %>

<% current_month = date_range.first.month %>
<div id="dashboard-calendar" class="md:block lg:flex lg:h-full lg:flex-col bg-stone-100" data-controller="dashboard-calendar" data-dashboard-calendar-current="<%= @date.beginning_of_month == Date.today.beginning_of_month %>" data-action="click->dashboard-calendar#clickCalendar">
  <div class="shadow ring-1 ring-black ring-opacity-5 lg:flex lg:flex-auto lg:flex-col">
    <% date_range.each_slice(7).with_index do |weekdays, index| %>
      <% if index == 0 %>
        <div class="hidden md:grid md:grid-cols-7 gap-px border-b border-gray-300 bg-stone-300 text-center text-xs font-semibold leading-6 text-stone-700 lg:flex-none">
          <% weekdays.each do |day| %>
            <div class="flex justify-center py-2 <%= day.saturday? || day.sunday? ? "bg-stone-300" : "bg-stone-200" %>">
              <span><%= l(day, format: "%A") %></span>
            </div>
          <% end %>
        </div>

        <% if @date.month == Date.today.month && @date.beginning_of_week >= @date.beginning_of_month %>
          <div class="flex past-weeks-toggler justify-center" data-dashboard-calendar-target="pastWeeksToggler">
            <%= link_to "Afficher les semaines précédentes",
                        "#dashboard-calendar",
                        class: "btn-section my-4",
                        data: { action: "dashboard-calendar#showPastWeeks" } %>
          </div>
        <% end %>
      <% end %>

      <div class="week" data-dashboard-calendar-target="week" data-past-week="<%= weekdays.first < Date.today && !weekdays.include?(Date.today) %>" data-first-weekday="<%= weekdays.first %>" data-beginning-of-week="<%= Date.today.beginning_of_week %>">
        <div class="flex bg-gray-200 text-xs leading-6 text-gray-700 lg:flex-auto">
          <div class="w-full lg:grid lg:grid-cols-7 lg:gap-px">
            <% weekdays.each do |day| %>
              <% month_classes = (day.month == Date.today.month && day.year == Date.today.year) ? "bg-white" : "bg-gray-50 text-gray-500" %>
              <div class="relative min-h-[8rem] py-2 px-3 text-gray-700 <%= month_classes %> <%= (Date.today == day) ? "bg-purple-200" : ((Date.today > day) ? "bg-white" : nil) %>">
                <div class="flex place-content-between">
                  <% day_classes = day == Date.today ? "flex px-2 h-8 items-center justify-center rounded-lg bg-indigo-600 font-light text-white text-lg" : "flex px-2 h-8 bg-blue-100 items-center justify-center rounded-lg border border-blue-300 font-light text-lg" %>
                  <%= link_to day_details_path(date: day.strftime("%Y-%m-%d")), class: "claudy-link border-0", data: { turbo_frame: "modal" } do %>
                    <time datetime="<%= l(day, format: "%Y-%m-%d") %>" class="<%= day_classes %> <%= day < Date.today ? "opacity-50 line-through" : nil %>">
                      <% if current_month != day.month %>
                        <% current_month = day.month %>
                        <%= l(day, format: "%e %b") %>
                      <% else %>
                        <%= l(day, format: "%e") %> <span class="md:hidden ml-1"><%= l(day, format: "%B") %></span>
                      <% end %>
                    </time>
                  <% end %>

                  <div class="flex">
                    <% if Date.today <= day %>
                      <%= link_to "H+", new_booking_path(date: day.strftime("%Y-%m-%d")), class: "mr-2 text-blue-700 hover:text-blue-900" %>
                      <%= link_to "E+", new_space_booking_path(date: day.strftime("%Y-%m-%d")), class: "mr-2 text-blue-700 hover:text-blue-900" %>
                    <% end %>

                    <%= link_to new_note_path(date: day.strftime("%Y-%m-%d")), data: { turbo_frame: "modal" } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mt-1 w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                      </svg>
                    <% end %>
                  </div>
                </div>

                <div id="human-roles-<%= day.iso8601 %>" class="text-xs isolate flex -space-x-2 px-1">
                  <%= render partial: "human_roles/day", locals: { human_roles: HumanRole.where(date: day, role_id: 1) } %>
                </div>

                <div id="notes-<%= day %>" class="<%= day < Date.today ? "opacity-75" : nil %>">
                  <%= render Note.where(date: day).order(id: :desc) %>
                </div>

                <% passed_block.call day, sorted_events.fetch(day, []) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
